.sliderImage{
    max-height: 70vh;
    min-height: 70vh;
}

.thumbs-wrapper.axis-vertical {
    display: none;
}

.zIndexInc{
    z-index: 9999;
}
.stat-title{
    font-size: 25px;
}
@media only screen and (max-width:662px){
    .sliderImage{
        max-height: 50vh;
        min-height: 50vh;
    }
    .stat-value{
        font-size: 20px;
    }
    .stat-title{
        font-size: 15px;
    }
}