
*{
    scrollbar-width: thin; 
    scrollbar-color: transparent #888;

}
*::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #888;    /* color of the scroll thumb */
    border-radius: 0px;       /* roundness of the scroll thumb */
  }
.sliderImage{
    max-height: 75vh;
    min-height: 75vh;
}

.thumbs-wrapper.axis-vertical {
    display: none;
}

.zIndexInc{
    z-index: 9999;
}
.stat-title{
    font-size: 25px;
}
.submenu-left{
    right: 100%;
    left: auto;
}
/* profileCard */
.ProfileAvatar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ProfileAvatar i{
    font-size:100px;
}
.ProfileAvatar img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.cpImg img{
    height: 100px;
    width: 100px;
}
.csteClubImg img{
    width: 300px;
    height: auto;
}

.imgGalary:hover{
    transform:translateX(5px);
}
.memberImg img{
    height: 80px;
    width: 80px;
    border-radius: 40px;
}
.progCard:hover{
    background-color:rgba(13, 12, 12, 0.439);
    color: white;
    display: flex;
    flex-direction: row-reverse;
}
.cardJobImg img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.teacherCard img{
   height: 250px;
}

@media only screen and (max-width:662px){
    .sliderImage{
        width: 100%;
        max-height:auto;
        min-height: auto;
    }
    .stat-value{
        font-size: 20px;
    }
    .stat-title{
        font-size: 15px;
    }
}